<header class="main-header">
  <nav class="main-header__navigation main-navigation">
    <button class="main-navigation__toggle" aria-label="Включить-выключить показ меню">
      <svg class="inline-svg main-navigation__toggle--open">
        <use xlink:href="img/symbol/icon-sprite.svg#menu-burger"/>
      </svg>
      <svg class="inline-svg main-navigation__toggle--close">
        <use xlink:href="img/symbol/icon-sprite.svg#menu-close"/>
      </svg>
    </button>
    <div class="main-navigation__logo">
      <a href="" class="main-navigation__logo-link">На главную</a>
    </div>
    <ul class="site-nav">
      <li class="site-nav__item">
        <a href="" class="site-nav__link">Главная</a>
      </li>
      <li class="site-nav__item">
        <a href="" class="site-nav__link">Фотографии</a>
      </li>
      <li class="site-nav__item">
        <a href="" class="site-nav__link">Конкурс</a>
      </li>
      <li class="site-nav__item">
        <a href="" class="site-nav__link">HTML Academy</a>
      </li>
    </ul>
  </nav>
  <div class="main-header__proposition">
    <div class="proposition">
      <p class="proposition__title">Взгляните на жизнь иначе!</p>
      <a href="#" class="proposition__btn btn">Скачать приложение</a>
      <ul class="proposition__icon-list">
        <li class="proposition__icon proposition__icon--apple"></li>
        <li class="proposition__icon proposition__icon--android"></li>
        <li class="proposition__icon proposition__icon--microsoft"></li>
      </ul>
      <p class="proposition__description">Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8</p>
    </div>
  </div>
</header>
